
@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');

body
{
	font-family: arial;
	font-size: 15px;
	margin-top: 4.1875rem;
}

/*General*/

/*Hintergrundformatierung fï¿½r die Navigationsleiste*/
.navigationline
{
	background-color: white;
	border-bottom: 1px solid #e3e3e3;
}

.nav-shadow {
	border-bottom: none !important;
	-webkit-box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.2);
}

/*Formatieruung von "Planner" in der Navigationsleiste*/
.navigationtext
{
	color: #4E5F67;	
	font-size: 27px
}

/*Formatierung der Navigationsliste oben rechts*/
.navigationlist
{
	color: #4E5F67;	
	margin-right:6px;
}
/*Formatierung der Hover Funktion der Navigationsliste oben rechts*/
.navigationlist:hover
{
	text-decoration: underline;
}
/*Formatierung des Headers mit Bild und Text rechts an der Seite*/
.bildheader
{
	padding-left: 0;
	padding-right: 0;
}

.padding-0
{
	padding-left: 0;
	padding-right: 0;
}

/* TEST sonst lï¿½schen:*/
.headlines
{
	background-color: #ced2d4;


	z-index:-1;
	
}
.headlines::before
{
	background-image: linear-gradient(to bottom,transparent 0%,rgba(0,0,0,0.65) 100%);
	opacity: 0.4;
}
.landingpagewelcome
{
	position: relative;
	width: 100%;
	text-align: center;
	color: #414141;

}

.centering{
	display: flex;
	justify-content: center;
}

.strich
{
	opacity:1;
	z-index:100 !important;
}
.strich::after
{
	content: '';
    display: block;
    margin: 15px 0 25px 0px;
    width: 50px;
    height: 2px;
    background: #e2001a;
}
.infoueberschrift:after
{
	content: '';
    display: block;
    margin: 25px 0 25px 0;
    width: 70px;
    height: 2px;
    background: #5c6971;
}
.infoueberschrift
{
	font-family: "Lora" ,serif;
	color: #e2001a;
	padding-left:110px;
	padding-top:50px;
}
.infobild
{
	background-color: #ced2d4;
	display:block;
	transition: background-color 0.4s; /* Animierte Änderung der Eigenschaft background-color */
}
infobild:hover
{
	background-color: #e2001a
}

.infotext
{
	background-color:#e5e5e5;
	vertical-align:middle;
	transition: background-color 0.4s; /* Animierte Änderung der Eigenschaft background-color */
}

.Hover_Icon
{
	color:black;
	transition: background-color 0.4s; /* Animierte Änderung der Eigenschaft background-color */
}

.Hover_box:hover
{
	background-color:#E2001A;
}

.Hover_box:hover .Hover_Icon
{
	color:white;
}

/*Default Settings fï¿½r Hyperlinks*/
a:hover
{
	color: #4E5F67;	
}

.DHBWbutton {
	
  background-color: #4E5F67;
  color: white;
  border: 2px solid #FFF;
  font-weight: bold;
}
/*Login Button Hover Formatierung*/
.DHBWbutton:hover {
  background-color: white; 
  color: #4E5F67;
  border: 2px solid #4E5F67;
  font-weight: bold;
}



/*Dozentuebersicht*/
/*Formatierung der Textbox Heading: Dozentbersicht*/
.dozentuebersicht
{
	background-color: #E2001A;
}

/*Formatierung des Text innerhalb der Dozentuebersichtbox*/
.dozentuebersichttext
{
	font-size: 35px;
	color: white;
}



/*Kursuebersicht*/
/*Formatierung der Textbox Heading: Kursuebersicht*/
.kursuebersicht
{
	background-color: #E2001A;
}

/*Formatierung des Text innerhalb der Kursuebersicht*/
.kursuebersichttext
{
	font-size: 35px;
	color: white;
}


/*Home*/
/*Formatierung der Home Leiste*/
.homeleiste
{
	background-color: #E2001A;
}

/*Formatierung des Textes innerhalb der Homeleiste*/
.homeleistetext
{
	font-size: 35px;
	color: white;
}

/*Formatierung der Willkommensleiste*/
.willkommensleiste
{
	background-color: #E5E5E5;
	border-width: 1px;
	border-color: #4E5F67;
	text-align: center;
}

/*Formatierung der groï¿½en Icons auf der Hauptpage*/
.btnTwoIcons
{
	background-color: white;
	color:#4E5F67;
	border-color: #4E5F67;
	border-width:2px;
}

.btnTwoIcons:hover
{
	background-color: #4E5F67;
	color: white;
}



/*Landing Page*/
/*Formatierung der grauen Box in der Mitte mit grauem Rahmen*/

.orientierungsbox
{
	background-color: #E5E5E5;
	border-width: 1px;
	border-color: #4E5F67;
}

/*New defined classes and ids*/
.dhbw_logo
{
	height: 40px;
	width: auto;
}

.dhbw_listenpunkt
{
	padding-right: 10px;
}

.dhbw_user
{
	border-left: 1px solid #cacaca;
	padding-left: 10px;
}

.dhbw_orientierungszeile
{
	margin: 0 auto;
	width: 98%;
}

.dhbw_kursanlegen
{
	text-align: right;
}

.dhbw_content
{
	margin: 0 auto;
	width: 96%;
}

.dozentNotizen
{
	width: 100%;
	color: #4E5F67;
}

.kursNeueZeile 
{
	margin-top: 10px;
}


.alert {
	border-radius: 0;
}

.doz-card .card-header {
	background-color: inherit;
	border: none;
}

.doz-einzel-adresse p {
	margin-bottom: 0;
}